[Unit]
Description=Minecraft Bedrock Server
After=network.target

[Service]
Type=forking
User=eithan
WorkingDirectory=/home/eithan/mcbedrock-server
ExecStart=/home/eithan/mcbedrock-server/start.sh
PIDFile=/tmp/mcbedrock.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
